:root {
  --light-red: hsl(0, 100%, 67%);
  --lightGrey: hsl(0, 3%, 63%);
  --purple: #854dff;
}

.no-error {
  visibility: hidden;
}
.error-message {
  font-size: 16px;
}
input[type="text"] {
  margin-top: 8px;
  cursor: pointer;
  width: 124px;
  border: 1px solid var(--lightGrey);
  border-radius: 5px;
  padding-inline: 16px;
  padding-block: 14px;
  font-size: 28px;
  font-weight: bolder;
  color: #000;
}
input[type="text"]:active,
input[type="text"]:focus,
input[type="text"]:focus-visible {
  border: 1px solid var(--purple);
}

.text-input {
  display: flex;
  flex-direction: column;
  color: var(--lightGrey);
  font-weight: 700;
  background-color: inherit
}
